extends email-layout

block content
  h2 Forgot your Blizzard Judge password? Let's get you a new one.
  p You told Blizzard Judge that you forgot your password. If you really did, please click here to get a new one (password resets are valid for the next 60 minutes):
  +button(resetUrl, 'Reset My Password →')
  p If you can't click the button above, please copy and paste the following URL into your browser: #{resetUrl}
  img.logo(src="https://res.cloudinary.com/jonathanbell/image/upload/f_auto,c_limit,w_150/blizzard-judge/ice-cream-judge.png" alt="Blizzard Judge logo")
  small If you didn't mean to reset your password, you can just ignore this email; your password will not change.
