extends layout

block content
  article
    h2(style="display: inline-block;") About Blizzard Judge
    img(src="/images/ice-cream-judge.png" alt="Blizzard Judge Logo" style="float: right; max-width: 187px;  transform: rotate(7deg);")
    p Blizzard Judge was made by me, Jonathan Bell. See, the thing is, I love DQ&reg; Blizzards and I know you do too. Blizzard Judge is completly free to use and always will be.
    p Thanks for using Blizzard Judge.
