extends layout

block content
  article
    h2(style="display: inline-block;") About Blizzard Judge
    img(src="/images/ice-cream-judge.png" alt="Blizzard Judge Logo" style="float: right; max-width: 187px;  transform: rotate(7deg);")
    p Blizzard Judge was made by me, <a href="https://jonathanbell.info">Jonathan Bell</a>. See, the thing is, I love DQ&reg; Blizzards and I know you do too. Maybe that's why they call it "Fan Food".. I dunno.. One thing I do know, however, is Blizzard Judge is completly free to use and always will be.
    p Thanks for using Blizzard Judge for all your blizzard logging and reviewing needs.
    a(href="https://github.com/jonathanbell/blizzard-judge" title="View source code on Github")
      != helpers.svg('github')
