extends layout

block content
  //- No `action` attribute, so this form will just POST to itself.
  form.card(method="POST")
    h2 Reset Your Password
    p For your protection set your new password to a brand-new, unique password. Do not use a previous password.
    label(for="password") New Password
    input(type="password" id="password" name="password")
    label(for="password-confirm") Confirm New Password
    input(type="password" id="password-confirm" name="password-confirm")
    input.button(type="submit" value="Reset My Password")
