mixin forgotPasswordForm()

  form.card(action="/account/forgot" method="POST")
    h2 Did you forget your password?
    p You can reset your password via email. Enter your email below. An email with a password reset link will be sent to you. Please allow up to 5 minutes for the email to arrive and check your spam folder if you do not see it in your inbox.
    label(for="email") Email
    input(type="email" name="email")
    input.button(type="submit" value="Send a Reset")
