.search {
  // for the results
  position: relative;
  width: 100%;

  @media (min-width: $small) and (max-width: $medium) {
    margin-top: 1rem;
  }

  &__input {
    color: $dqblue;
    font-weight: bold;
  }

  &__results {
    background: $white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 7;
    left: 0;
  }

  &__result {
    padding: 10px;
    display: block;
    border-bottom: 1px solid $grey;
    color: $dqblue;

    &--active,
    &:hover {
      background: $rainbowGrad;
      color: $white;
    }
  }
}
